<form>
    <div class="label">
        Cuentanos por que te vas
    </div>
    <ion-list>
        <ion-checkbox ng-model="filter.yellow">Mal servicio</ion-checkbox>
        <ion-checkbox ng-model="filter.yellow">Mala comida</ion-checkbox>
        <ion-checkbox ng-model="filter.yellow">Muy lejos</ion-checkbox>
        <ion-checkbox ng-model="filter.yellow">Local no presentable</ion-checkbox>
        <ion-checkbox ng-model="filter.yellow">Servicio muy lento</ion-checkbox>
    </ion-list>
    <label class="item item-input">
        <textarea placeholder="Agregue un comentario"></textarea>
    </label>
</form>