<p>Nombre de la Categoria</p>
<input ng-model="category.name" type="text" />
</br>
<!-- <p>Categoría Padre</p>
<input ng-model="category.super_category" type="text" />
</br> -->
<p>Tipo Categoría</p>
<select id="tipoCategoria">
	<option selected value="1">Producto</option>
	<option value="2">Servicios de Transporte</option>
	<option value="3">Servicios de Asistencia</option>
	<option value="4">Servicios de Mantenimiento de Vehículo</option>
</select>

<p>Imagen</p>
<input id="new_image" name="file_image" type="file" accept="image/*"/>




