<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            Ferby
        </ion-header-bar>
        <ion-content style='background-color: #464646'>
           <div class="row">
                <div class="col">
                        <img src='img/{{logo}}' style='width:50%;' />
                </div>
                <div class="col">
                            <h3 style="text-align: left;color:white;margin-top: 10px">{{place_name}}</h3>
                </div>
           </div>

     
            <ion-list>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('place')">
                    <i class="ion-home"></i> Inicio
                </ion-item>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('personalize')">
                        <i class="ion-images"></i>  Personalizar App
                </ion-item>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('stores')">
                    <i class="ion-navigate"></i> Sucursales/Tiendas
                </ion-item>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('promos')">
                    <i class="ion-grid"></i> Cupones Notificaciones Promociones y Eventos
                </ion-item>
                <ion-item style='background-color: transparent;color:white' >
                    <a href="https://app.almacenesxtra.com/v2/index.php/raspables/show"><i class="ion-contrast"></i> Raspables </a>
                    
                </ion-item>

                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('lottery')">
                    <a href="https://app.almacenesxtra.com/v2/index.php/rifas/show"><i class="ion-clipboard"></i> Rifas </a>
                </ion-item>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('menu')">
                    <i class="ion-bag"></i>  Productos y Servicios
                </ion-item>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('import-products')">
                 <i class="ion-upload"></i>  Importar Productos
                </ion-item>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('reports')">
                   <i class="ion-stats-bars"></i> Reportes
                </ion-item>              
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('change_password')">
                        <i class="ion-locked"></i> Cambiar Contraseña Admin
                </ion-item>
                <ion-item style='background-color: transparent;color:white' menu-close ng-click="nav('logout')">
                        <i class="ion-reply-all"></i> Cerrar Sesión
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
