<ion-view>
    <ion-content  overflow-scroll="true">
        <div>
            <!-- Header -->
            <div id="header" class="animate-area">
                <!-- Inner -->
                <div class="inner">
                    <header>
                        <h1><a href="index.html" id="logo">Ferby Para Administrador</a></h1>
                        Este es el portal para administrador general, en este portal puedes editar tu app <br> subir promociones, crear eventos, personalizar tu app y mucho mas.
                        <hr />
                        <p>Usuario</p>
                        <input id="username" style="width:100%;background-color:transparent;color:white;border-bottom-color: white;border-style: solid;border-width: 1px" type="text" /> <br />
                        <p>Contraseña</p>
                        <input id="password" style="width:100%;background-color:transparent;color:white;border-bottom-color: white;border-style: solid;border-width: 1px"  type="password" />
                    </header>
                    <footer>
                        <button ng-click="login()" class="button circled scrolly" style="background-color:transparent;color:white;border-bottom-color: white;border-style: solid;border-width: 1px">Login</button>
                    </footer>
                    <li><a href="#/login">Login de Administrador</a></li>
                    <li><a href="#/restLogin">Login de Tienda</a></li>
                </div>
                
            </div>
          
        </div>
    </ion-content>
</ion-view>

