<ion-view view-title="Envio de Notificaciones">
    <ion-content  overflow-scroll="true" style="background-color: #BDBDBD">
        <div style="width:100%">
            
        </div>
        <br />
        <br />
        <br />
        <br />
        <div style="width:100%">
            <div class="card" style="width: 90%;margin-left: 5%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <!--<label style="width:80%;margin-left: 10%;">Título</label>
                <input maxlength="256" id="emailTitle" type="text" style="width:80%;margin-left: 10%;border: 1px solid gray" />
                <label style="width:80%;margin-left: 10%;">Filtrar Por:</label>
                <input maxlength="256" id="emailTitle" type="text" style="width:80%;margin-left: 10%;border: 1px solid gray" /><br />-->
                <p style="text-align: center">Para enviar notificaciones a tus suscriptores, los suscriptores deben estar conectados a internet para recibirlas efectivamente hacia el app de Ferby.</p>
                <textarea id="message" style="width:80%;margin-left:10%;height: 350px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 20px"></textarea>
            </div>
            <div style="float:right;" class="card col col-25">
                <button class="button button-dark" style="margin:auto" ng-click='sendNotifications()'>Enviar</button>
            </div>
        </div>
    </ion-content>
</ion-view>