<ion-view view-title="Stores">
    <ion-content>
        <div class="card">
        <form>
            <label>E-mail</label>
            <input maxlength="256" id="admin_id" type="text" />
            <label>Password</label>
            <input maxlength="256" id="pass" type="password" />
            <label>Confirm Password</label>
            <input maxlength="256" id="con_pass" type="password" />
            <label>First Name</label>
            <input maxlength="256" id="first_name" type="text" />
            <label> Last Name</label>
            <input maxlength="256" id="last_name" type="text" />
        </form><br />
             <button ng-click="register()" class="button button-dark">okey</button>
            </div>
    </ion-content>
</ion-view>