<ion-view view-title="Visitas de Usuario">
    <ion-content  overflow-scroll="true" ng-init='initializeRequestCheckpoints()'>
        
        <h3 style="text-align: center;width:100%;padding: 0 5px 5px 5px;color:white;background-color: black">Redimir Visitas</h3>

        <center style="width:100%;padding-top: 10px">
                <a class="button button-dark" style="width:10%; padding: 10px" ng-click="queryUser()">Consultar Cliente</a>

                <a class="button button-dark" style="width:10%; padding: 10px" ng-click="entryCheckin()">Ingresar Visitas</a>

                <a ng-disabled="user.gift_points <= '0'" class="button button-dark" style="width:10%; padding: 10px" ng-click="redeemDialog()">Redimir Visitas</a>

                <a ng-disabled="userResult.length > '0'" class="button button-dark" style="width:10%; padding: 10px" ng-click="registerClient()">Registrar Cliente</a>
        </center>

        <div class="row" >
                
                <div class="card" style="width: 20%;margin-left: 1%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div style="text-align: center;">Cliente</div>
                    <div ng-if="search != 0 && userResult.length == 0">
                        <center>
                            <span>Cliente no encontrado, es necesario registrarlo para continuar</span>
                            <br>
                            <a  class="button button-dark"  ng-click="registerClient()">Registrar Cliente</a>
                        </center>
                        
                    </div>
                    <center ng-if="userResult.length>0">
                        <div>Usuario: {{userResult[0].username}}</div>
                        <br>
                        <div>Nombre: {{userResult[0].name}}</div>
                        <br>
                        <div>Teléfono: {{userResult[0].tel}}</div>
                        <br>
                        <span>Email: {{userResult[0].email}}</span>
                        <br>
                        <div>Visitas actuales: {{user.gift_points}}</div>
                    </center>
                </div>
               
                <div class="card col" style="width: 98%;padding: 5px 10px 5px 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="panel panel-default">
                        <div >
                            <div style="padding-top: 10px; font-weight: bold">
                                <div style="float: left; padding-left : 20px; ">Transacciones del cliente </div>
                                <!-- <a style="float: right; padding-right : 20px; " ng-click="goToLogUserpoints()">Ver Historial Completo</a> -->
                            </div>
                            <div style="float: left; padding-left : 20px; "> (Visitas actuales: {{user.gift_points}})</div>
                            
                        </div>
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table  class="table table-striped table-bordered " style="width:100%" id="">
                                    <thead>
                                        <tr>
                                            <th>Id Transaccion</th>
                                            <th>Lugar</th>
                                            <th>Sucursal</th>
                                            <th>Identidad</th>
                                            <th>Acumulados</th>
                                            <th>Canjeados</th>
                                            <th>Fecha</th>
                                            <th>Descripcion Transaccion</th>
                                            <th>Eliminar</th>

                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in checkins" class="odd gradeX">
                                            <td>{{c.check_in_id}}</td>
                                            <td>{{c.check_place_id}}</td>
                                            <td>{{c.check_store_id}}</td>
                                            <td>{{c.check_username}}</td>
                                            <td>{{c.check_points < 0 ? '' : c.check_points}}</td>
                                            <td>{{c.check_points < 0 ? c.check_points : ''}}</td>
                                            <td>{{c.transaction_time}}</td>
                                            <td>{{c.transaction_entry}}</td>
                                            <td class="center" ng-click='deleteCheckin(c)'><center><button class="button button-block button-assertive" style="width:50%"><b style="color: white">X</b></button></center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                        <div style="padding-top: 10px; font-weight: bold">
                                <div style="float: left; padding-left : 20px; ">Visitas actuales: {{user.gift_points}}</div>
                        </div>
                    
                    </div>
                </div>
            
        </div>
    </ion-content>
</ion-view>