<ion-view>
    <ion-content  overflow-scroll="true">
        <div>
            <!-- Header -->
            <div id="header" class="animate-area">
                <!-- Inner -->
                <div class="inner">
                    <header>
                        <h1><a href="index.html" id="logo">Ferby Para Tienda</a></h1>
                        Utiliza este portal para recibir pedidos, registrar visitas ó redimir puntos. <br> Este portal es para uso del administrador de la tienda
                        <hr />
                        <p>Codigo de Sucursal:</p>
                        <input id="store" style="width:100%;background-color:transparent;color:white;border-bottom-color: white;border-style: solid;border-width: 1px" type="text" /> <br />
                        <p>Contraseña:</p>
                        <input id="passkey" style="width:100%;background-color:transparent;color:white;border-bottom-color: white;border-style: solid;border-width: 1px"  type="password" />
                    </header>
                    <footer>
                        <button ng-click="login()" class="button circled scrolly" style="background-color:transparent;color:white;border-bottom-color: white;border-style: solid;border-width: 1px">Login</button>
                    </footer>
                    <li><a href="#/login">Login de Administrador</a></li>
                    <li><a href="#/tab/unasig">Login de Tienda</a></li>
           
                </div>
                <!-- Nav -->
             
            </div>
            <!-- Banner -->
          
    </ion-content>
</ion-view>

