<ion-view view-title="Suscripciones">
        <ion-content  overflow-scroll="true" style="background-color: #BDBDBD">
        <div style="width:100%">
            <div  style="float:right;" class="card col col-25">
                <button class="button button-dark" ng-click="goToMail()" style="margin:auto">Enviar Correo</button>
                <button class="button button-dark" ng-click="goToPush()" style="margin:auto">Enviar Notificaciones</button>
            </div>
        </div>
    </ion-content>
</ion-view>