<ion-view >
    <ion-content>
     <div style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
        <iframe src="" scrolling="yes" style="width:100%;height:100%" frameborder="0" id="mContact" sandbox="allow-forms allow-same-origin allow-scripts">

        </iframe>
        
            <button ng-click="openwa()" style="width:33%;margin-left: 33%;" class="button button-balanced"><i class="ion-social-whatsapp-outline"></i> &nbsp; Contáctanos</button>
            <br> <br>
            <button ng-click="storesDirections()" style="width:33%;margin-left: 33%" class="button button-positive"><i class="ion-map"></i>&nbsp; Visítanos</button>

            </div>
    </ion-content>