<ion-view >

    <ion-content ng-init='inicio()' style="background-color:#D8D8D8">
        <div id="map" style="height:350px; width:100%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        </div>

        <!--<a href="geo:37.786971,-122.399677;u=35" style="padding: 0px 0px 0px 0px" class="col">
            <img src="http://www.iconshock.com/img_vista/MATERIAL/web_design/jpg/plan_3_c_icon.jpg" style="width:33%;margin-left:33%" />
            <p style="width:100%;text-align:center">Ir al lugar</p>
        </a>-->

        <a  ng-click="openPureMap()" style="padding: 0px 0px 0px 0px;margin-top:15px" class="col">
            <img class="animated bounceInLeft" src="https://assets.materialup.com/uploads/5cbe5836-469c-49f0-90df-09faf39e853b/preview.gif" style="width:33%;margin-left:33%;border-radius:50%" />
            <p style="width:100%;text-align:center">Ir al lugar</p>
        </a>
    </ion-content>
</ion-view>