<ion-view>
    <ion-content overflow-scroll="true">
        <div style="max-width: 600px; margin:auto; display:block;margin-top: 10px">     
            <div class="card animated bounceInLeft" style="overflow:visible;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:auto;">
                <img src="./images/2.gif" id="imagenPlus" style="width:50%;margin-left:25% ;height:auto" />
                <h1 style="margin-left:15%;margin-right:15%;text-align: center;color:white">Tu Orden Se Envió Exitosamente</h1>
                <p style="margin-left:15%;margin-right:15%">Mantente pendiente a tu celular para estar en contacto con la sucursal. </p>
                <br />
                <a href="#/side/loginBill" style="width:50%;display: block;margin-top: 15px;margin: auto;" class="button button-dark">&nbsp;&nbsp;OK&nbsp;&nbsp;</a>
                <br />

                <h1 style="margin-left:15%;margin-right:15%;text-align: center;color:white">¿Te gustó Ferby?</h1>
                <p style="margin-left:15%;margin-right:15%;text-align:center">Conoce más sobre nosotros.</p>
                <a href="#/side/contactUs" style="width:50%;display: block;margin-top: 15px;margin: auto;text-decoration:underline;text-align:center">&nbsp;&nbsp;Aquí&nbsp;&nbsp;</a>
                <br />
            </div>
        </div>
    </ion-content>
</ion-view>