<ion-side-menus enable-menu-with-back-views="true" ng-init="init()"  >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>
                        <ion-nav-buttons side="left">
                <img src="https://app.almacenesxtra.com/img/2-8e293d88bb21d6cd.png" style="width:40px" ng-click="openPopover($event)" />
            </ion-nav-buttons>
            

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
</ion-side-menus>

