<ion-view overflow-scroll="true"  style="background-color:black">
    <ion-nav-title>
        {{nombre}}
    </ion-nav-title>
    <style>
        @keyframes animatedBackground {
            from {
                background-position: 0 0;
            }

            to {
                background-position: 100% 50%;
            }
        }

        .animate-area {
            background-image: url(bg-clouds.png);
            background-position: 0px 0px;
            background-repeat: repeat-x;
         /*  animation: animatedBackground 40s linear infinite; */
        }
    </style>
    <ion-content ng-init="loadThemeLoginBill()" overflow-scroll="true">
        <!-- Place this tag where you want the Live Helper Plugin to render. -->
        <div id="lhc_status_container_page"></div>

        <!-- Place this tag after the Live Helper Plugin tag. -->
        <style>
            .outerShell {
                height: 100%;
                width: 100%;
                background-size: cover;
            }

            .innerShell {
                width: 100%;
                display: table-cell;
                vertical-align: middle;
            }
        </style>
    
    

        <div id="myRadHeight" style="display:none">
            <div>
                <div>
                    <div style='background-image: url("./images/back.gif");' class="animate-area outerShell">
                        <br><br>
                        <br><br>
                        <div class="row">
                            <div class="col-20" style="width:20%!important"></div>
                            <div class="col" style="width:40%!important"><img src="./images/logo.png" style="width:100%;" /></div>
                            <div class="col-20" style="width:20%!important">
                                <div style="position:relative;">
                                        <div ng-if="contadorNotificaciones != 0" class="badgextra">
                                            <span>{{contadorNotificaciones}}</span>
                                        </div>
                                        <div ng-click="gotonotif()">
                                         <img  ng-src="./images/campana.png"  style="width:70%;margin-top:15px;position: absolute;" />
                                         </div>        
                                </div>
                            
                            </div>
                        </div>
                   
                        <br>
                        <div ng-show="isguest == 1">
                        <button class="button button-assertive" ng-click="registerPlease()" style="width:90%;margin-left: 5%">Regístrate</button>
                            <p style="width:100%;text-align: center">Y aprovecha al 100% todos nuestros beneficios</p>
                        </div>
                        <div id="innerCard" style="height:50%;width:100%; background-color: rgba(230, 0, 0, 0) !important;">
                            <div class="wrapper" >
                                <div class="grisubshel" ng-click="openHelpLink(place.help_link)"  ng-if="place.show_help_link == 1" >
                                        <img ng-src="{{baseImgUrl}}{{place.img_help_link}}"  style="width:100%" />
                                        <p class="textsubshelblack">Tienda</p>
                                </div>
                                <div class="grisubshel" ng-click="openHelpLink(place.subscription_link)" >
                                        <img ng-src="./images/basket.png"  style="width:100%" />
                                        <p class="textsubshelblack">Departamentos</p>
                                </div>
                                <div class="grisubshel" ng-click="getReservations()" ng-if="place.show_reservar == 1" >
                                        <img ng-src="{{baseImgUrl}}{{place.img_reservar}}"  style="width:100%" />
                                        <p class="textsubshelblack">Reservar</p>
                                </div>
                                <div class="grisubshel" ng-repeat="category in specialCategories"  ng-click="obtenerServicio(category)"  >
                                    <img ng-src="{{baseImgUrl}}{{category.category_img}}"style="width:100%" />
                                    <p class="textsubshelblack" >{{category.name}}</p>
                                </div>
                                <div class="grisubshel" ng-click="getPlacesLocation('HOMEDELIVERY', 0, 'domicilio','tab.categories')"  ng-if="place.show_shop == 1" >
                                        <img ng-src="./images/basket.png"  style="width:100%" />
                                        <p class="textsubshelblack">Departamentos</p>
                                </div>
                                <div class="grisubshel" ng-click="storesDirections()"  >
                                        <img ng-src="./images/marker.png"  style="width:100%"  />
                                        <p  class="textsubshelblack" style="width:100%;text-align:center">Ubicaciones</p>
                                </div>
                                <div class="grisubshel"  ng-click="getPlacesLocation('HOMEDELIVERY', 0, 'domicilio','tab.categories')" ng-if="place.home_order == 1" >
                                        <img ng-src="{{baseImgUrl}}{{place.home_img}}"style="width:100%" />
                                        <p class="textsubshelblack" >{{place.home_text}}</p>
                                </div>
                                <div class="grisubshel"  ng-click="getPlacesLocation('HOMEDELIVERY', 1, 'llevar','tab.categories')" ng-if="place.pick_order == 1" >
                                        <img ng-src="{{baseImgUrl}}{{place.pick_img}}"style="width:100%" />
                                        <p class="textsubshelblack" >Para Llevar</p>
                                </div>
                                <div class="grisubshel"  ng-click="getPlacesLocation('HOMEDELIVERY', 1, 'comer','tab.categories')" ng-if="place.desk_order == 1" >
                                        <img ng-src="{{baseImgUrl}}{{place.desk_img}}"style="width:100%" />
                                        <p class="textsubshelblack" >Pre-ordenar</p>
                                </div>
                                <a class="grisubshel" ng-click="loginCheckins()" ng-if="place.addon_check_in == 1" >
                                    <img ng-src="{{baseImgUrl}}{{checkinOptions.checkin_icon}}"  style="width:100%"  />
                                    <p class="textsubshelblack">Visitas</p>
                                </a>
                                <div class="grisubshel" ng-click="openCoupons()"  >
                                        
                                        <div style="position:absolute;" ng-if="contadorCupones != 0" class="badgextra">
                                            <span>{{contadorCupones}}</span>
                                        </div>
                                        <img id="cuponesIMG" ng-src="./images/cupones.png"  style="width:100%"  />
                                        <p class="textsubshelblack">Xtra Cupones</p>
                                </div>

                                <div class="grisubshel" ng-click="openScratch()"  >
                                        
                                        <div style="position:absolute;" ng-if="contadorRaspables != 0" class="badgextra">
                                            <span>{{contadorRaspables}}</span>
                                        </div>
                                        <img id="cuponesIMG" ng-src="./images/cupones.png"  style="width:100%"  />
                                        <p class="textsubshelblack">Raspables</p>
                                </div>

                                <div class="grisubshel" ng-click="openLottery()"  >
                                        
                                        <div style="position:absolute;" ng-if="contadorRifas != 0" class="badgextra">
                                            <span>{{contadorRifas}}</span>
                                        </div>
                                        <img id="cuponesIMG" ng-src="./images/cupones.png"  style="width:100%"  />
                                        <p class="textsubshelblack">Rifas</p>
                                </div>

                                <div class="grisubshel" ng-click="openPromos()"  >
                                      <div style="position:absolute;" ng-if="contadorPromos != 0" class="badgextra">
                                            <span>{{contadorPromos}}</span>
                                        </div>
                                        <img id="promosIMG" ng-src="./images/promos.png"  style="width:100%"  />
                                        <p class="textsubshelblack">Promociones</p>
                                </div>
                                <div class="grisubshel" ng-click="openEvents()"  ng-if="place.show_events == 1" >
                                        <img ng-src="{{baseImgUrl}}{{place.img_events}}"  style="width:100%" />
                                        <p class="textsubshelblack">Eventos</p>
                                </div>
                                <div class="grisubshel" ng-click="openWeb('https://storeapp.almacenesxtra.com/etiqueta-producto/producto-nuevo/')" >
                                        <div style="position:absolute;" ng-if="contadorCupones != 0"  class="badgextra">
                                            <span>{{contadorArrivals}}</span>
                                        </div>
                                        <img id="newIMG" ng-src="./images/new.png"  style="width:100%"  />
                                        <p class="textsubshelblack">Nuevos Productos</p>
                                </div>
                                
                                <div class="grisubshel" ng-click="openME();" ng-if="place.show_messenger == 1" >
                                        <img ng-src="{{baseImgUrl}}{{place.messenger_img}}" style="width:100%" />
                                        <p class="textsubshelblack">Messenger</p>
                                </div>
                                
                               <div class="grisubshel" ng-click="scan();"  >
                                        <img ng-src="./images/qrcode.png" style="width:100%" />
                                        <p class="textsubshelblack">Escaner</p>
                                </div>
                                <div class="grisubshel"  ng-click="openInstagram(place);"  >
                                        <img ng-src="./images/ins.png" style="width:100%" />
                                        <!-- <p style="width:100%;text-align:center">Mis Tegupesos</p> -->
                                        <p class="textsubshelblack">Instagram</p>
                                </div>
                                <div class="grisubshel" ng-click="openwa();"  >
                                        <img ng-src="./images/wa.png" style="width:100%" />
                                        <p class="textsubshelblack">WhatsApp</p>
                                </div>
                                <div class="grisubshel"  ng-click="openFB();" >
                                        <img ng-src="./images/fb.png" style="width:100%" />
                                        <!-- <p style="width:100%;text-align:center">Mis Tegupesos</p> -->
                                        <p class="textsubshelblack">Facebook</p>
                                </div>
                                <div class="grisubshel" ng-if="place.show_track_orders == 1" ng-click="trackOrders();" ng-init="validateToken()">
                                    <img ng-src="{{baseImgUrl}}{{place.img_track_orders}}" style="width:100%" />
                                    <!-- <p style="width:100%;text-align:center">Mis Tegupesos</p> -->
                                    <p class="textsubshelblack">Mis pedidos</p>
                                </div>                               
                               <!-- <div class="grisubshel" ng-click="loginCheckins()" ng-if="place.addon_check_in == 1" >
                                        <img ng-src="{{baseImgUrl}}{{checkinOptions.checkin_icon}}"  style="width:100%"  />
                                        <p class="textsubshelblack">Visitas</p>
                                </div>-->
                            </div>

                            <br><br>
                             <img ng-src="{{baseImgUrl}}{{place.background_app}}"  style="width:100%"  />
                            <p style="color:black;width:100%;text-align: center"></p>
                            
                        </div>
                        
                    </div>
                   
                </div>
            </div>


            <style>
                .wrapper {
                    display: grid;
                   
                    width:100% !important;
                    grid-template-columns: repeat(auto-fill, minmax(119px, 1fr));
                }
                .textsubshel {
                    text-align: center;
                    color: white;
                    font-size:13px;
                }
                .textsubshelblack {
                    text-align: center;
                    color: black;
                    font-size:13px;
                    font-weight: 500;
                    white-space: nowrap;
                }
                .grisubshel {
                    border: 0.4px solid  rgba(255,255,255,0);
                    padding-left: 15%;
                    padding-right: 15%;
                    padding-bottom: 5%;
                    padding-top: 5%;
                }
            </style>

    </ion-content>
</ion-view>