<ion-view>

    <ion-content>

      <pre style="padding:20px;font-size:12px">
   <b>REGLAMENTO DEL PROGRAMA XTRA CASH</b>

<b>I.  DEFINICIONES</b>
a.  Administrador: HIPER TIENDAS XTRA
b.  Tiendas: XTRA Suyapa, XTRA Proceres, XTRA Hadas, XTRA Mall Premier Tegucigalpa, XTRA PREMIER Comayagua, XTRA La Ceiba, XTRA Choluteca, XTRA Juticalpa, EMPORIO Tegucigalpa y EMPORIO SPS.
c.  Beneficiarios: Personas naturales que se registren con su nombre, apellido y número de identidad, para acumular puntos que pueden ser canjeados por productos en sus próximas compras. El programa NO aplica para instituciones, empresas, organismos, ONG y demás personas jurídicas.
d.  Programa: Es un Programa de Lealtad, con acumulación y canje de PUNTOS XTRA CASH, que está regido por este Reglamento. 
e.  Aplicación: La acumulación de puntos se realizará desde la aplicación HIPER TIENDAS XTRA, disponible en AppStore y PlayStore de su teléfono Celular.

<b>II. PARTICIPANTES DEL PROGRAMA:</b>
Participan automáticamente todos nuestros clientes que descarguen la App y se registren previamente, para gozar de todos los beneficios que solamente HIPER TIENDAS XTRA les ofrece. 
El programa No aplica para mayoristas registrados con código, ya que cuentan con su descuento previamente otorgado.
III.  DESCRIPCION DEL PROGRAMA: 
Es un programa de lealtad en beneficio exclusivamente  de nuestros clientes a nivel nacional, que les permite la acumulación de puntos (XTRA CASH) por las compras que realizan. Los XTRA CASH pueden ser canjeados por mercadería, en cualquiera de nuestras tiendas (NO SE DEVUELVE EFECTIVO).


<b>IV. ACUMULACION DE PUNTOS:</b>
a.  Nuestros clientes acumulan puntos al momento de realizar sus compras, pagando en efectivo, tarjeta de crédito o cheque en cualquiera de  las Tiendas HIPERTIENDAS XTRA y EMPORIO a nivel Nacional.
b.  Los puntos se calculan sobre el valor neto (subtotal) de la factura, sin incluir el Impuesto sobre la Venta).
c.  Los puntos XTRA CASH NO aplican para compras al crédito y tampoco en las compras pagadas con canje de puntos XTRA CASH.
d.  Los puntos XTRA CASH serán asignados inmediatamente durante la generación de la factura en caja.  

<b>V.  VIGENCIA Y CADUCACION DE LOS XTRA CASH</b>
Los puntos XTRA CASH tienen una vigencia de 12 meses a partir de la fecha que fueron acreditados a la cuenta del cliente. Al cumplir los 12 meses sin haberse redimido (canjeado), el sistema los eliminará automáticamente.


<b>VI. CANJE DE PUNTOS XTRA CASH</b>
a.  El cliente puede consultar la cantidad de sus puntos acumulados y la fecha de vencimiento  a través de la App HIPERTIENDAS XTRA. Asimismo, sus puntos se reflejarán en su factura al realizar compras con su registro como cliente de XTRA CASH. 
b.  El cliente puede redimir (canjear) sus puntos al momento de realizar una compra en  HIPERTIENDAS XTRA de las siguientes formas:
• Realizar pago total de una factura, siempre y cuando sus puntos acumulados equivalen o superan el valor de la factura.
• Realizar pago parcial de la factura, cuando dispone de una cantidad de puntos con valor menor al de la factura (o quiere utilizar solamente parte de sus puntos acumulados). 
• Para realizar la redención de sus puntos, el cliente debe presentar al cajero su documento de identificación (cédula de Identidad) previamente registrado para tal efecto.
• EL VALOR DE LA FACTURA QUE HA SIDO CANCELADO CON LA REDENCION DE PUNTOS XTRA CASH, NO GENERA NUEVOS PUNTOS XTRA CASH.


<b>VII.  REGLAS GENERALES :</b>
Para ser acreedor de los beneficios otorgados por el programa, es responsabilidad de cada cliente leer, conocer y cumplir las reglas y condiciones que rigen el mismo.
Al momento de realizar su primera compra bajo el programa XTRA CASH, el cliente debe presentar al cajero su App debidamente descargada en su móvil y su respectivo documento de Identificación (su cédula de Identidad), para ser registrado e iniciar la acumulación de puntos, gozando asimismo del resto de beneficios que ofrece el programa. 
La equivalencia de los puntos acumulados será definida a discreción del administrador de este programa, y puede variar de tiempo en tiempo.
Este programa, su reglamento y sus beneficios podrán ser modificados y/o eliminados total o parcialmente por el administrador con un previo aviso de quince (15) días calendario, divulgado por medio de la App y los medios sociales.

Los puntos acumulados seguirán vigentes durante los doce (12) meses estipulados en la cláusula V .  
   </pre>

<div class="row">
  <div class="col">
    <button class="button button-positive" ng-click="acepto()">Acepto</button>
  </div>
    <div class="col">
     <button class="button button-asertive" ng-click="noacepto()" >No Acepto</button>
  </div>
</div>

    </ion-content>

</ion-view>