<content scroll="false">
<ion-view ng-init="getScratchGenerated()">
   
    <ion-content >
<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="getScratchGenerated()"> </ion-refresher> -->

        <div ng-if="wi < 800" class="" ng-repeat="c in raspables" id="scratch-container" style="display:none; ">
             <br>

             <div class="containerScartch"  >
                    <img id="scream" src="./images/RaspableN.gif" alt="The Scream" style="position: absolute;z-index: 11;" ontouchmove="esconder()">
                    <canvas class="canvas" id="scratch-canvas" width="300" height="300" ></canvas>
                    <div class="">
                      <img style="width:100%;"  ng-src="{{basePath}}{{c.img}}"/>
                    </div>
            </div>

            <br>

            <a class="item item-icon-left assertive" ng-click="$ionicGoBack()">
                  <i class="icon ion-ios-arrow-back"></i>
                  Ver más
                </a>
             
</div> 


</ion-content>
</ion-view>
</content>