<ion-view ng-init="getScratchGenerated()">
   
    <ion-content >
<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="getScratchGenerated()"> </ion-refresher> -->

        <div ng-if="wi < 800" class="list card" ng-repeat="c in raspables" id="scratch-container" style="display:none; ">
             

             <div class="containerScartch"  >
                    <canvas class="canvas" id="scratch-canvas" width="300" height="300"></canvas>
                    <div class="">
                      <img style="width:100%;"  ng-src="{{basePath}}{{c.img}}"/>
                    </div>
            </div>
             
</div> 


</ion-content>
</ion-view>
